/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */

html {
  font-size: 18px;
}

h1 {
  font-family: helvetica, "Times New Roman", sans-serif;
}

h2 {
  font-family: georgia, courier, fantasy;
}

header {
  border-bottom: double darkorchid;
}

.class-list {
  list-style-type: square;
}

.item {
  border-style: solid;
  border-color: skyblue;
  border-width: 10px;
}

.even {
  background-color: grey;
}

.odd {
  background-color: black;
  color: white;
}

#item1 {
  font-size: 30px;
}

#item2 {
  text-align: right;
}

ol > li{
  padding: 15px;
  background-color: grey;
}

ol > li:nth-child(odd) {
  background-color: green;
  color: red;
}

.sub-list{
  opacity: 1;
  background-color: #ffffff;
  text-decoration: none;
}

.Bitmaker:hover {
  text-decoration: none;
}

li > a:hover {
  background-color: yellow;
}

li > a:active {
  background-color: red;
}


/*#advanced-selector ul li:hover {*/
  /*background-color: yellow;*/
/*}*/

/*#advanced-selector ul li:active {*/
  /*background-color: red;*/
/*}*/
